.header {
    max-width: 1120px;
    padding: 35px 0 5px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__light:hover {  
    cursor: pointer;
}